<% provide(:title, 'Perguntas') %>
<% provide(:header, 'Perguntas') %>
<% provide(:description, 'Lista de perguntas.') %>
<% provide(:levels, 'Pós-Venda, Perguntas') %>

<div class="box box-danger">
  <div class="box-header">
    <h3 class="box-title">Lista de perguntas (<%= @questions.count %>)</h3>
    <%= link_to fa_icon("plus", text: content_tag(:span, 'Criar Pergunta')), new_question_path, class: "btn btn-primary btn-flat right" %>
  </div><!-- /.box-header -->
  <div class="box-body table-responsive platform-table">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Pergunta</th>
          <th>Tipo</th>
          <th>Tags</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'question_index', collection: @questions, as: :question %>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->