<% provide(:title, 'Nova Pergunta') %>
<% provide(:header, 'Nova Pergunta') %>
<% provide(:description, 'Preencha as informações necessárias para criar a pergunta.') %>
<% provide(:levels, 'Pós-Venda, Perguntas, Criar') %>

<div class="box box-danger">
  <div class="box-header with-border">
    <%= fa_icon "file-text-o" %>
    <h3 class="box-title">Cadastro de nova pergunta</h3>
  </div><!-- /.box-header -->
  <%= render @question %>
</div><!-- /.box -->