<div class="col-sm-6 col-sm-offset-3">
  <div class="box box-danger">
    <div class="box-header with-border">
      <%= fa_icon "file-text-o" %>
      <h3 class="box-title"><%= @survey.name %></h3>
      <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
        Essa pesquisa jรก foi respondida.
      </p>
    </div><!-- /.box-header -->

    <div class="center" style="padding: 10px">
      <%= link_to "BackHere!", root_path, class: 'btn btn-primary btn-flat' %>
    </div>
  
  </div>

</div><!-- /.box -->