<% provide(:header, "Erro 404") %>
<% provide(:description, "Não foi possível acessar a página.") %>
<% provide(:levels, "Erro 404") %>

<div class="error-page">
  <h2 class="headline text-yellow"> 404</h2>
  <div class="error-content">
    <h3><i class="fa fa-warning text-yellow"></i> Ops! Página não encontrada.</h3>
    <p>
      Não foi possível encontrar a página que você estava procurando.
    </p>
  </div><!-- /.error-content -->
</div><!-- /.error-page -->