<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O que é Back Here?</h2>
                <hr class="light">
                <p class="text-faded">Back Here é um projeto que surgiu durante a disciplina de Empreendedorismo do curso de Sistemas de Informação do Centro de Informática da Universidade Federal de Pernambuco (IF988 - SI - CIn - UFPE).</p>
                <p class="text-faded">A ideia cetral é focada no pós-venda do e-commerce brasileiro, inicialmente para os pequenos e médios lojistas. Pretendemos oferecer uma plataforma com diversos serviços de forma que possibilite a criação de relacionamentos amigáveis com os consumidores.</p>
                <a href="#interest" class="btn btn-default btn-xl page-scroll">Tenho uma sugestão!</a>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Fiquei interessado!</a>
            </div>
        </div>
    </div>
</section>

