<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O que é a Back Here?</h2>
                <hr class="light">
                <p class="text-faded">Uma ferramenta simplicada de estratégia do serviço de pós-venda.</p>
                <h2 class="section-heading">Como funciona?</h2>
                <hr class="light">
                <p class="text-faded">Através de uma gestão de pesquisas sobre as vendas, descubra os pontos fracos do seu e-commerce, os problemas encontrados pelos clientes e assim poderá tomar atitudes para resolvê-los o quanto antes.</p>
                <p class="text-faded">Entedemos que quanto mais simples for esse processo será melhor, então todo o processo poderá ser realizado de forma automatizada atráves de poucas configurações, incluindo a importação dos dados das vendas e clientes.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Ficou Interessado? Veja os nossos serviços!</a>
                <hr class="light">
                <a href="#message" class="btn btn-default btn-xl page-scroll">Dúvidas ou Sugestões?</a>
            </div>
        </div>
    </div>
</section>

