<section class="bg-dark" id="interest">
    <div class="container text-center">
        <div class="row">
            <div class="call-to-action">
                <h2>Deixe-nos uma mensagem!</h2>
                <hr class="light">
            </div>
            <div class="col-lg-12">
                <%= render "home_message" %>
            </div>
        </div>
    </div>
</section>