<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contato</h2>
                <hr class="primary">
                <p>Deseja mais informações? Ligue ou envie um email pra gente, que retornaremos o mais rápido possível!</p>
                <hr class="primary">
                <p>Responsável: Jorge Rodrigues</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <hr class="primary">
                <p>(81) 99824-0131 - TIM</p>
                <p>(81) 98620-2914 - OI</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <hr class="primary">
                <p><a href="mailto:jrgvf@cin.ufpe.br">jrgvf@cin.ufpe.br</a></p>
            </div>
        </div>
    </div>
</section>