<footer class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <strong>Copyright &copy; 2015 <a class="page-scroll" href="#page-top">BackHere</a>.</strong> All rights reserved.
      </div>
      <!-- <div class="col-md-4">
        <ul class="list-inline">
            <li><%= link_to fa_icon("twitter"), "" %></li>
            <li><%= link_to fa_icon("facebook"), "https://www.facebook.com/appbackhere/?ref=hl", target: "_blank" %></li>
            <li><%= link_to fa_icon("linkedin"), "" %></li>
        </ul>
      </div> -->
    </div>
  </div>
</footer>