<footer class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <strong>Copyright &copy; 2015 <a href="#">BackHere</a>.</strong> All rights reserved.
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li><a href=""><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li><%= link_to 'Seller Login', new_seller_session_path, class: 'btn btn-default badge wow tada'%></li>
                </ul>
            </div>
        </div>
    </div>
</footer>