<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Seja Bem Vindo!</h1>
            <hr>
            <p>O Back Here é um projeto que está sendo desenvolvido com o intuito de promover um relacionamento amigável entre os lojistas e os consumidores.</p>
            <p>Atualmente encontra-se na fase inicial de desenvolvimento.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba Mais</a>
        </div>
    </div>
</header>

