<header>
    <div class="header-content">
        <div class="header-content-inner">
            <%= image_tag("bckhr-obw.png", alt: "Back Here", class: "img-responsive teste", style: "display: inline") %>
            <hr>
            <h1>Bem Vindo!</h1>
            <hr>
            <p>Promova um relacionamento amigável com os clientes e construa um diferencial.</p>
            <p>Conte conosco para isso!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba Mais</a>
        </div>
    </div>
</header>

