<header>
    <div class="header-content">
        <div class="header-content-inner">
            <%= image_tag("bckhr-obw.png", alt: "Back Here") %>
            <hr>
            <h1>Bem Vindo!</h1>
            <hr>
            <p>O nosso objetivo é promover um relacionamento amigável entre os lojistas e os consumidores sendo um diferencial para os lojistas.</p>
            <p>O projeto encontra-se na fase inicial de desenvolvimento.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba Mais</a>
        </div>
    </div>
</header>

