<div class="box-body table-responsive">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Tipo de Status</th>
      <th>Pesquisa</th>
      <th>Cliente</th>
      <th>Situação</th>
    </tr>
    <% survey_notifications.each do |notification| %>
      <tr>
        <td><%= notification.status_type.label %></td>
        <td><%= notification.survey.name %></td>
        <td><%= notification.customer.name %></td>
        <td><%= notification.status_name %></td>
      </tr>
    <% end %>
  </table>
</div><!-- /.box-body -->