<% provide(:title, 'Novo Magento') %>
<% provide(:header, 'Novo Magento') %>
<% provide(:description, 'Preencha as informações necessárias para cadastrar o Magento.') %>
<% provide(:levels, 'Plataformas, Magento') %>

<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Cadastro das informações do novo Magento</h3>
  </div><!-- /.box-header -->
  <%= render @magento %>
</div><!-- /.box -->
