<div id="othersQuestions" class="list-group" style="overflow: scroll; height: 400px;">
  <% questions.each do |question| %>
    <div class="list-group-item">
      <%= check_box_tag "survey[question_ids][]", question.id, false, class: 'hide' %>
      <%= truncate(question.text, length: 65, separator: ' ') %>
    </div>
  <% end %>
</div>