<div class="col-md-6 col-sm-6 col-xs-12">
  <div id="surveyQuestions" class="list-group" style="overflow: scroll; height: 400px;">
    <% survey.questions.each do |question| %>
      <div class="list-group-item">
        <%= check_box_tag "survey[question_ids][]", question.id, true, class: 'hide' %>
        <%= truncate(question.text, length: 65, separator: ' ') %>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
  <% if questions.empty? %>
    <div class="center error-content">
      <h3><%= fa_icon("warning", class: "text-red") %></i> Não existem perguntas cadastras.</h3>
      <p>Cadastre as perguntas antes.</p>
    </div>
  <% else %>
    <div id="others_questions">
      <%= render "others_questions", questions: questions %>
    </div>
  <% end %>
</div>