<% provide(:title, 'Dashboard') %>
<% provide(:header, 'Dashboard') %>
<% provide(:description, 'Seja bem vindo!') %>
<% provide(:levels, 'Dashboard') %>

<h1>Account#dashboard</h1>
<p>Find me in app/views/account/dashboard.html.erb</p>
