$nprogress-color: #f1f1f1;
$nprogress-height: 0.2em;
$nprogress-zindex: 10100;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jasny-bootstrap.min";
@import "bootstrap-datepicker";
@import "bootstrap3-switch";
@import "select2";
@import 'jquery-ui/core';
@import 'jquery-ui/datepicker';
@import 'jquery-ui/theme';
@import 'jquery-ui/slider';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/_all-skins";
@import "skin-orange";
@import 'icheck/square/_all';
@import 'ionicons';
@import 'nprogress';
@import 'nprogress-bootstrap';
@import 'backhere-pagination';
@import 'backhere-details';
@import 'backhere-survey';
@import 'backhere-widget';