<h1>BackHere!</h1>

<p>Opa, alguém deixou uma mensagem na página do BackHere!</p>

<p>Mensagem: <%= @home_message.message %></p>

<p>Quem enviou:</p>
<ul>
  <li>Nome: <%= @home_message.name %></li>
  <li>Email: <%= @home_message.email %></li>
  <li>Fone: <%= @home_message.fone %></li>
</ul>